/**
 drop your styles here
 */

h1
  font-family: "capitolium-news-2",serif;
  font-size: 48px;
  width: 100%

h2
  font-family: "capitolium-news-2",serif;
  font-style: italic;
  font-size: 24px

h3
  font-family: "capitolium-news-2",serif;
  font-size: 24px

p
  font-family: "museo-sans-condensed", sans-serif;
  font-size: 18px
  padding-bottom: 12px


.container
  max-width: 1080px
  display: block
  margin: 48px auto

img
  max-width: 100%
  padding-bottom: 8px

.about
  padding-right: 48px
  box-sizing: border-box

.project
  padding-right: 20px
  padding-top: 24px

rect
  rx: 4px
  ry: 4px

  &.blue
    fill: #49c4d4
