/**
 drop your styles here
 */

h1
  font-family: font-header

p
  font-family: font-body


.pure-g
  background-color: red

.blue
  background-color: blue

.green
  background-color: green

.red
  background-color: red

.container
  max-width: 1080px
  display: block
  margin: 48px auto

img
  max-width: 100%

.about
  padding-right: 48px
  box-sizing: border-box
