/**
 list of colors used throughout the site
 */

red = #CF5C60
green = #4AB471
blue = #2A94D6
white = #FBFCFC

font-header = 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif
font-body = 'Merriweather', 'Helvetica Neue', 'Helvetica', sans-serif
