extends ../../templates/homepage

block head
  - var title = "Bee project | Melissa Witt"
  //- - var description = ""
  - var url = "/projects/bee" //- include the '/'

block content
  .container
    .pure-g
      .about.pure-u-1.pure-u-md-7-24
        header
          a(href="/")
            h1 Melissa Witt
            h2 ... and a portfolio
          br
          h3 Bee Account
          p
            span.bold Employer:   
            | One Financial
            br
            span.bold Role:  
            | All things design
          p Bee is an affordable alternative to a checking account from a bank. They provide a Visa debit card and app for you to manage your money. 
          p As the lead, and only, designer on the team, I've been able to produce an incredible amount of work here at Bee. Additionaly, I've been able to expand and practice my knowledge of CSS, HTML, Jade, and React. 
          a(href="https://www.beecard.us")
            p(style="color: #49c4d4") Find a signup location
          br
        .portfolio-navigation
          .mobile
            h4 mobile
            svg(style="width:50px; height:3px;")
              rect.purple(style="width: 50px; height:3px;")
            p
          .web
            h4 web
            svg(style="width:30px; height:3px;")
              rect.green(style="width: 30px; height:3px;")
            p
          .uiux
            h4 ui | ux
            svg(style="width:40px; height:3px;")
              rect.blue(style="width: 40px; height:3px;")
            p
          .interactive
            h4 interactive
            svg(style="width:75px; height:3px;")
              rect.magenta(style="width: 75px; height:3px;")
          
      .projects.pure-u-1.pure-u-md-17-24
        img(src="/images/melissawitt-portfolio-site-hero-bee-account.png")
        h3 Bee Account
        svg(style="width:100px; height:3px;")
          rect.purple(style="width: 100px; height:3px;")
        svg(style="width:100px; height:3px;")
          rect.blue(style="width: 100px; height:3px;")
        svg(style="width:100px; height:3px;")
          rect.green(style="width: 100px; height:3px;")
        svg(style="width:100px; height:3px;")
          rect.magenta(style="width: 100px; height:3px;")
        p An affordable alternative to big bank checking.
        
        img(src="/images/melissawitt-portfolio-site-hero-bee-account.png")
        img(src="/images/melissawitt-portfolio-site-hero-bee-account.png")
        img(src="/images/melissawitt-portfolio-site-hero-bee-account.png")
        img(src="/images/melissawitt-portfolio-site-hero-bee-account.png")
