extends ../../templates/homepage

block head
  - var title = "Clorox project | Melissa Witt"
  //- - var description = ""
  - var url = "/projects/clorox" //- include the '/'

block content
  .container
    .pure-g
      .about.pure-u-1.pure-u-md-7-24
        header
          a(href="/")
            h1 Melissa Witt
            h2 ... and a portfolio
          br
          h3 Clorox 100yr
          p
            span.bold Employer:   
            | Clickfire Media
            br
            span.bold Role:  
            | Design, ui/ux
          p The 100 Years of Clorox game celebrates the brand's 100th anniversary. Fans answered a series of questions either through multiple choice or by taking a photo of the correct Clorox product.
          p Wireframes and guidelines were provided by the client. Visual and ui/ux by yours truely.
          br
        .portfolio-navigation
          .mobile
            h4 mobile
            svg(style="width:50px; height:3px;")
              rect.purple(style="width: 50px; height:3px;")
            p
          .uiux
            h4 ui | ux
            svg(style="width:40px; height:3px;")
              rect.blue(style="width: 40px; height:3px;")
            p
          
      .projects.pure-u-1.pure-u-md-17-24
        img(src="/images/clorox-main.jpg")      
        img(src="/images/clorox-mocks.jpg")
