extends ../templates/homepage

block head
  - var title = "Your page title"
  - var description = "Your page description."
  - var url = "/" //- include the '/'

block content
  .container
    .pure-g
      .about.pure-u-1.pure-u-md-6-24.blue
        header
          h1 Melissa Witt
          h2 ... and a portfolio
          p Hide when guests come over cough furball chew iPad power cord. Play riveting piece on synthesizer keyboard lick plastic bags chase red laser dot.

        .portfolio-navigation
          .mobile
            p mobile
          .web
            p web
          .uiux
            p ui | ux
          .interactive
            p interactive
      .projects.pure-u-1.pure-u-md-18-24.green
        img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=720%C3%97500&w=720&h=500")
        h2 Bee Account
        p A wide range of lorem ipsum
        .pure-u-1.pure-u-md-7-24.blue
          h2 Project 1
          p Description 1
        .pure-u-1.pure-u-md-7-24.blue
          h2 Project 2
          p Description 2
        .pure-u-1.pure-u-md-7-24.blue
          h2 Project 3
          p Description 3
        .pure-u-1.pure-u-md-7-24.red
          h2 Project 4
          p Description 4
        .pure-u-1.pure-u-md-7-24.red
          h2 Project 5
          p Description 5
        .pure-u-1.pure-u-md-7-24.red
          h2 Project 6
          p Description 6
