extends ../templates/homepage

block head
  - var title = "Melissa Witt portfolio"
  // - var description = "Your page description."
  - var url = "/" //- include the '/'

block content
  .container
    .pure-g
      .about.pure-u-1.pure-u-md-7-24
        header
          h1 Melissa Witt
          h2 ... and a portfolio
          br
          p Welcome! Have a look around and stay a while. I'm a designer based in NYC who also gets dirty with code.
          p Drop me a line at melissa.witt.design@gmail.com
          br
        .portfolio-navigation
          .mobile
            h4 mobile
            svg(style="width:50px; height:3px;")
              rect.purple(style="width: 50px; height:3px;")
            p
          .web
            h4 web
            svg(style="width:30px; height:3px;")
              rect.green(style="width: 30px; height:3px;")
            p
          .uiux
            h4 ui | ux
            svg(style="width:40px; height:3px;")
              rect.blue(style="width: 40px; height:3px;")
            p
          .interactive
            h4 interactive
            svg(style="width:75px; height:3px;")
              rect.magenta(style="width: 75px; height:3px;")

      .projects.pure-u-1.pure-u-md-17-24
        .featured-project
          a(href="/projects/bee")
            img(src="/images/melissawitt-portfolio-site-hero-bee-account.png")
            h3 Bee Account
            svg(style="width:100px; height:3px;")
              rect.purple(style="width: 100px; height:3px;")
            svg(style="width:100px; height:3px;")
              rect.blue(style="width: 100px; height:3px;")
            svg(style="width:100px; height:3px;")
              rect.green(style="width: 100px; height:3px;")
            svg(style="width:100px; height:3px;")
              rect.magenta(style="width: 100px; height:3px;")
            p An affordable alternative to big bank checking.
        .project.pure-u-1.pure-u-md-7-24
          a(href="/projects/roxy")
            img(src="images/roxy-project.jpg")
            h3 Roxy
            svg(style="width:45px; height:3px;")
              rect.magenta(style="width: 45px; height:3px;")
            svg(style="width:45px; height:3px;")
              rect.blue(style="width: 45px; height:3px;")
            p Roxy #DareYourself campaign designed for use on Facebook. 
        .project.pure-u-1.pure-u-md-7-24
          a(href="/projects/costa-rica")
            img(src="images/costa-rica-title.jpg")
            h3 Go Costa Rica
            svg(style="width:45px; height:3px;")
              rect.magenta(style="width: 45px; height:3px;")
            p Interactive map design highlighting popular areas to travel in Costa Rica.
        .project.pure-u-1.pure-u-md-7-24
          a(href="/projects/promax")
            img(src="images/promax-bda-2014-title.jpg")
            h3 Promax BDA 2015
            svg(style="width:45px; height:3px;")
              rect.blue(style="width: 45px; height:3px;")
            svg(style="width:45px; height:3px;")
              rect.purple(style="width: 45px; height:3px;")
          p Mobile app for utilization at the Promax BDA 2015 conference. 
        .project.pure-u-1.pure-u-md-7-24
          a(href="/projects/syfy-delta")
            img(src="images/syfy-delta-title.jpg")
            h3 SyFy + Delta
            p Microsite for SyFy & Delta partnership for their #MomentsOfInagination campaign.
        .project.pure-u-1.pure-u-md-7-24
          a(href="/projects/syfy-faceoff")
            img(src="images/syfy-showing-face-title.jpg")
            h3 SyFy: Showing Face
            p Roxy #DareYourself campaign designed for use on Facebook.
        .project.pure-u-1.pure-u-md-7-24
          a(href="/projects/clorox")
            img(src="images/clorox-title.jpg")
            h3 Clorox 100yr
            p Mobile game to celebrate 100 years of Clorox.
