/**
 required files and imports
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.u-background-red {
  background-color: #cf5c60;
  padding: 30px 0;
  margin-bottom: 50px;
  color: #fbfcfc;
}
.u-background-green {
  background-color: #4ab471;
  padding: 30px 0;
  margin-bottom: 50px;
  color: #fbfcfc;
}
.u-background-blue {
  background-color: #2a94d6;
  padding: 30px 0;
  margin-bottom: 50px;
  color: #fbfcfc;
}
h1 {
  font-family: "capitolium-news-2", serif;
  font-size: 48px;
  width: 100%;
  line-height: 42px;
}
h2 {
  font-family: "capitolium-news-2", serif;
  font-style: italic;
  font-size: 20px;
}
h3 {
  font-family: "capitolium-news-2", serif;
  font-size: 20px;
  line-height: 2px;
  padding-top: 8px;
  padding-bottom: 11px;
}
h4 {
  font-family: "museo-sans-condensed", sans-serif;
  font-size: 16px;
  line-height: 6px;
}
p {
  font-family: "museo-sans-condensed", sans-serif;
  font-size: 16px;
  padding-bottom: 12px;
  padding-top: 4px;
  line-height: 22px;
}
p .bold {
  font-weight: bold;
  font-family: "museo-sans-condensed", sans-serif;
}
.container {
  max-width: 1080px;
  display: block;
  margin: 48px auto;
  padding: 0 30px;
}
.portfolio-navigation {
  padding-bottom: 30px;
}
.portfolio-navigation .fixed-container {
  padding: inherit;
  position: fixed;
  width: inherit;
  max-width: 400px;
}
@media screen and (max-width: 768px) {
  .fixed-container {
    position: inherit;
    max-width: inherit;
  }
}
img {
  max-width: 100%;
  padding-bottom: 8px;
}
.about {
  padding-right: 48px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.project {
  padding-top: 32px;
  padding-bottom: 8px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin-left: -1px;
  margin-right: -3px;
}
.project:nth-child(2),
.project:nth-child(5) {
  padding-right: 14px;
  padding-left: 0;
}
.project:nth-child(3),
.project:nth-child(6) {
  padding-right: 7px;
  padding-left: 7px;
}
.project:nth-child(4),
.project:nth-child(7) {
  padding-right: 0;
  padding-left: 7px;
}
@media screen and (min-width: 568px) {
  .project {
    padding-right: 7px !important;
    padding-left: 7px !important;
  }
}
@media screen and (max-width: 568px) {
  .project {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
.project a {
  text-decoration: none;
  color: #000;
}
.featured-project a {
  text-decoration: none;
  color: #000;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
rect {
  rx: 2px;
  ry: 2px;
  align: top;
}
rect.blue {
  fill: #49c4d4;
}
rect.magenta {
  fill: #ed1a5d;
}
rect.purple {
  fill: #bd50ca;
}
rect.green {
  fill: #62be77;
}
a {
  color: #49c4d4;
  text-decoration: none;
}
header > a {
  color: #000;
}
